---
layout: default
---

<main role="main">
  <div class="about-container">
    <div class="title-container">
      <h1 class="about-title">{{ site.about.title }}</h1>

    </div>
    <h3 class="about-description">{{ site.about.description }}</h3>
  </div>

  <!--header class="blog-header">
      <h1 class="blog-title">{{ site.title }}</h1>
      <h2 class="blog-description">{{ site.description }}</h2>
  </header>

{% capture my_include %}{% include about.md %}{% endcapture %}
{{ my_include | markdownify }}

  <div class="cf frame">
    {% for post in paginator.posts %}
      <article class="post" itemscope itemtype="http://schema.org/BlogPosting" role="article">
        <div class="article-item">
          <header class="post-header">
            <h2 class="post-title" itemprop="name"><a href="{{ site.baseurl }}{{ post.url }}" itemprop="url">{{ post.title }}</a></h2>
          </header>
          <section class="post-excerpt" itemprop="description">
            <p>{{ post.excerpt | strip_html | truncatewords: 50 }}</p>
          </section>
          <div class="post-meta">
            <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_long_string }}</time>
          </div>
        </div>
      </article>
    {% endfor %}
  </div-->

{% include timeline.html %}
</main>
{% include footer.html %}
