<body>
  <div class="background-timeline-title" id="timeline">
    <div class="timeline-title">
      <h1>{{ site.timeline }}</h1>
    </div>

  </div>
  <div class="timeline">
    <div class="timeline-line-container">
      <div class="line-dotted-spaced-vertical"></div>
    </div>
    {% for company in site.companies %}
    <div class="cards">
      <div class="timeline-story">
        <div class="information-start-type information-right information-left">
          <div
            class="line-dotted-spaced-horizontal line-dotted-right line-dotted-left"
          >
            <span class="status-story ball-right ball-left"
              >●</span
            >
          </div>
          <h3 id="company-start">{{company.start}}</h3>
          <h3 id="company-type">{{company.type}}</h3>
        </div>

        <div class="card-informations "  onclick="openModal(this,event, {{forloop.index}})" >
          <div class="logo-card-company">
            <img class="company-logo" src="{{company.logo}}" alt="" />
          </div>
          <div class="information-field">
            <h3 class="company-name">{{company.name}} {{forloop.index}}</h3>
            <h4 class="company-field">{{company.field}}</h4>
            <h5 class="company-local">{{company.local}}</h5>
          </div>
        </div>
      </div>
      <div class="modal-timeline modal-opened" id="modal-{{forloop.index}}" style="display: none;">
        <div class="modal-top">
          <div class="modal-time-to-work timeline-local">
            {{company.start}} - {{company.finish}}
          </div>
          <button
            class="btn-default btn-close-modal"
            onclick="closeModal(this, event, {{forloop.index}})"
          >
            X
          </button>
        </div>
        <div class="modal-content">
          <div class="modal-header">
            <img class="modal-company-logo" src="{{company.logo}}" alt="" />
            <div class="modal-header-content">
              <h4 class="modal-header-name-company">{{company.name}}</h4>
              <h4 class="modal-header-field-company">{{company.field}}</h4>
            </div>
          </div>
          <div class="modal-content-description">
            <p>{{company.description}}</p>
          </div>
          <h5 class="timeline-local modal-local-company">{{company.local}}</h5>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="see-more-background scrollable-out collapsible">
    <div class="button-expand">
      <!-- <button onclick="scroll(0, 1000)" -->

      <h4 class="see-more">  <button
        class="btn-see-more btn-see-less btn-default" toggle="" >
        ⋁
      </button> See more </h4>
      <h4 class="see-less"> <button
        class="btn-see-more btn-see-less btn-default" toggle="" >
        ⋀
      </button> See less</h4>
    </div>
    <div class="container-lets-talk" id="contact">
      <h3 id="title-contact">{{ site.contact.title }}</h3>
    </div>
    <div class="information-container">
      <div class="data-contact">
        <div class="data-description">
          <p class="font-contact-description">{{ site.contact.description }}</p>
        </div>
        <div class="data-social-media">
          <div class="content-linkedin">
            <a href="https://www.linkedin.com/in/jairohonorio/" target="_blank"
              ><i class="fa-brands fa-linkedin social-icons"></i
            ></a>
            <a
              href="https://www.linkedin.com/in/jairohonorio/"
              target="_blank"
              class="font-social-media"
              >{{ site.contact.linkedin }}</a
            >
          </div>
          <div class="content-email">
            <a href="mailto:{{ site.email}}" target="_blank"
              ><i class="fa-solid fa-envelope social-icons"></i
            ></a>
            <a
              href="mailto:{{ site.email}}"
              target="_blank"
              class="font-social-media"
              >{{ site.contact.email }}</a
            >
          </div>
        </div>
      </div>
      <div>
        <img
          class="image-contact"
          src="./assets/images/contact-image.jpg"
          alt="Jairo in San Francisco front of Golden Gate"
        />
      </div>
    </div>
  </div>
</body>
