.about-container {
  display: flex;
  flex-direction: row;
  height: 298px;
}

.title-container{
  width: 500px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.about-title {
  font-family: 'Helvetica Neue';
  font-style: normal;
  color: $dark-color;
  font-weight: 700;
  font-size: 5rem;
  text-align: right;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  width: 230px;
}

.about-description {
  background-color: $dark-color;
  color: $light-color;
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.6rem;
  text-align: justify;
  padding: 62px 100px;
  margin: 0;
  width: 80vw;
  height: 175px;
}
@media only screen and (max-width: $mobile-breakpoint){

  .about-container{
    display: flex;
    flex-direction: column;
    height: auto;

  }
  .title-container {
    width: 100vw;

  }

  .about-title {
    font-family: 'Helvetica Neue';
    font-style: normal;
    text-align: start;
    width: 100vw;
    height: 78px;
    margin-top: 30px;
    margin-bottom: 0;
  }

  .about-description {
    padding: 42px;
    margin: 0;
    height: auto;
    word-wrap: break-word;
    word-break: break-word;
    width: auto;
  }

}
