.background-timeline-title{
  background-color: $dark-color;
  margin: 0;
  display: flex;
  align-items: end;
  right: 0;
  z-index: 6;
  height: 200px;
}

.timeline-title {
  color: $light-color;
  font-size: 4.5rem;
  text-align: center;
  z-index: 10;
  position: relative;
  line-height: 3.3em;
  //pointer-events: none;
  margin-top: -172px;
}
.timeline-title h1{
  margin: 0;
  height: 173px;
}

.timeline{
  display: flex;
  max-height: 700px;
  overflow: hidden;
  flex-direction: column;
  padding: 2px 51px 95px;
  position: relative;

  &.scrollable-out {
    max-height: fit-content;
  }
}

.timeline-line-container{
  position: absolute;
  display: flex;
  justify-content: center;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
}

.line-dotted-spaced-vertical{
  background-image: linear-gradient(to bottom, #333 70%, rgba(255, 255, 255, 0) 70%);
  background-size: 1px 35px;
  width: 1px;
}

.line-dotted-spaced-horizontal{
  background-image: linear-gradient(to bottom, #333 70%, rgba(255, 255, 255, 0) 70%);
  background-size: 1px 35px;
  //background-repeat: repeat-x;
  height: 1px;
  width: 75px;
  //position: absolute;
  // margin-top: 130px;

}

.cards {
  width: 100%;
  //display: contents;

  .timeline-story {
    width: 600px;
  }
}


//impares
.cards:nth-child(odd) {
  .timeline-story{
    align-self: center;
    margin-left: 728px;
  }
  .information-left{
    flex-direction: row;
  }

  .line-dotted-left{
    margin-left: -107px;
    position: absolute;
    margin-top: 128px;
  }
  .ball-left {
    //top: 86px;
    left: -4px;
    top: -25px;
    z-index: 4;
    position: relative;
    font-size: 40px;
  }

}

//pares
.cards:nth-child(even) {
  .timeline-story {
    align-self: center;
    //margin-right: -800px;
  }
  .information-right{
    flex-direction: row-reverse;
  }

  .line-dotted-right{
    margin-right: -112px;
    position: absolute;
    margin-top: 128px;
    // margin-right: -120px;
  }

  .ball-right{
    // top: 86px;
    // right: 30px;
    left: 60px;
    top: -25px;
    z-index: 4;
    position: relative;
    font-size: 40px;
  }
}

  //span:before
  // .status-story {
  //   display: flex;
  //   justify-content: center;
  //   //margin: 0 130px 0;
  //   transition: all 200ms ease-in;
  //   //position: relative;
  // }

.information-start-type {
  display: flex;
  flex-direction: row;
  margin: auto 40px;
}

#company-type {
  margin: auto 30px;
  color: $gray-color;
  font-weight: 400;
}

.card-informations {
  z-index: 10;
  width: 600px;
  // height: 200px;
  height: auto;
  background-color: $light-color;
  filter: drop-shadow(1px 4px 18px rgba(0, 0, 0, 0.25));
  backdrop-filter: blur(21px);
  border-radius: 20px;
  margin: 20px 0px -65px 0;
  display: flex;
  cursor: pointer;
  // justify-content: space-evenly;
}

.information-field {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  margin: 18px 10px 0;
}

#logo-card-company{
  display: flex;
  align-items: center;
  margin: auto 10px;
}

#company-logo {
  width: 71px;
  height: 71px;
  margin-left: 10px;
}

#company-name {
  font-weight: 900;
  font-size: 1.4rem;
  color: $dark-color;
  margin: 0 0 5px 0;
  text-align: -webkit-center;
}

#company-field {
  font-weight: 300;
  font-size: 1.2rem;
  color: $dark-color;
  margin: 10px auto;
  text-align: -webkit-center;
}

.company-local {
  font-weight: 400;
  font-size: 1rem;
  color: $gray-color;
  margin: 10px;
  text-align: end;
}


// Modal content informatiom cards
.modal-timeline{
  flex-direction: column;
  z-index: 10;
  max-width: 1300px;
  min-width: 750px;
  height: auto;
  //position: absolute;
  background-color: $light-color;
  filter: drop-shadow(1px 4px 18px rgba(0, 0, 0, 0.25));
  backdrop-filter: blur(21px);
  border-radius: 20px;
  margin: auto;
}


.modal-top{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 20px 20px 40px 50px;
}

.modal-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto 50px;
}

.modal-header-content {
  margin: auto 10px;
}

#modal-company-logo{
  width: 140px;
  height: 140px;
  margin-right: 30px;
}

.modal-header-name-company{
  font-weight: 500;
  font-size: 2rem;
  margin: 10px 0;
}

.modal-header-field-company {
  font-weight: 300;
  font-size: 1.6rem;
  margin: 0;
}

.timeline-local{
  font-weight: 400;
  font-size: 1.5rem;
  color: $gray-color;
  margin: 10px;
  text-align: end;
}

.modal-content-description{
  margin: 30px 60px;
  font-weight: 350;
  font-size: 1.2rem;
  line-height: 41px;
}

.modal-local-company{
  padding: 0 10px 10px 0;
}

.btn-close-modal:hover{
 background-color: $red-color;
}

// COLLAPSIBLE
.collapsible {
  cursor: pointer;
  padding: 18px;
  width: 100%;
}
