.see-more-background {
  background-color: $light-color;
  z-index: 6;
  width: 100%;
  //height: 100vh;
  display: flex;
  flex-direction: column;
  filter: drop-shadow(0px -11px 7px rgba(0, 0, 0, 0.15));
  //top: 1990px;
  //top: 6620px;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

  &.scrollable-out {
    top: 2050px;
  }
}

.button-expand {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.btn-default {
  background-color: $dark-color;
  color: $light-color;
  border-radius: 50%;
  border-style: none;
  width: 30px;
  height: 30px;
  margin: 10px;
  cursor: pointer;
}

.btn-see-more:hover {
  background-color: $gray-color;
  color: $dark-color;
}

.container-lets-talk {
  display: flex;
  // flex-direction: start;
  height: 4.5rem;
}

#title-contact {
  color: $dark-color;
  font-weight: 700;
  font-size: 4.5rem;
  text-align: center;
  z-index: 10;
  position: relative;
  line-height: 0.6em;
  pointer-events: none;
  margin: 25px 0 0 45px;
}

.information-container {
  margin: auto 50px;
  background-color: $dark-color;
  display: flex;
  flex-direction: row;
  height: 740px;
}

.data-contact {
  color: $light-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 740px;
  justify-content: space-evenly;
  margin-right: 15px;
  text-align: justify;
}

.image-contact {
  width: 50vw;
  object-fit: cover;
  height: 100%;
  //background-image: url(./assets/images/contact-image.jpg);
}

.data-social-media {
  display: flex;
  flex-direction: column;
}

.content-linkedin {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.content-email {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.font-contact-description {
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  padding: 20px 40px;
}

.font-social-media {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 38px;
  padding: 0 40px;
}

.social-icons {
  font-size: 2.8rem;
}

a {
  text-decoration: none;
  color: $light-color;
  padding: 40px 10px;
}
a:hover {
  text-decoration: underline;
  color: $gray-color;
}

a:active {
  text-decoration: underline;
}

.see-less {
  display: none;
}

@media only screen and (max-width: $mobile-breakpoint) {
  .information-container {
    flex-direction: column-reverse;
    height: 100%;
    margin: 0;
  }

  .image-contact {
    width: 100%;
    height: 40vh;
    object-position: 10% 32%;
  }

  .container-lets-talk {
    justify-content: flex-start;
    margin-left: -50px;
  }

  .see-more-background {
    width: auto;
    padding: 0;
  }

  .see-more-background .scrollable-out {
    padding: 0;
  }

  .data-contact {
    width: 100%;
    height: auto;
  }

  .font-contact-description {
    font-size: 1.6rem;
    padding: 0 30px;
  }

  .font-social-media {
    padding: 0 24px;
    font-size: 1.6rem;
  }
}
