.about-container {
  display: flex;
  flex-direction: row;
}

.about-title {
  font-family: 'Helvetica Neue';
  font-style: normal;
  width: 500px;
  font-weight: 700;
  font-size: 3rem;
  text-align: right;
  margin-top: 62px;
}

.about-description {
  background-color: $dark-color;
  color: $light-color;
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-align: justify;
  padding: 62px 100px;
  margin: 0;
  width: 80vw;
  height: 14vh;
}
