$light-color: #fff;
$dark-color: #222122;
$gray-color: #7D7D7D;
$red-color: #ba1111;

$mobile-breakpoint: 1380px;

.font {
  font-family: 'Helvetica Neue';
  font-style: normal;
}

.dark-title-section {
  color: #222122;
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 122px;
}

.dark-background {
  background-color: #222122;
}

.button-see-more {
  background: #222122;
  backdrop-filter: blur(21px);
  border-radius: 50px;
}
